<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visualização de Gráficos</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1 id="TitleLogo">Project Partners</h1>
            <nav>
                <ul>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/graficos.html">Graphs</a></li>
                    <li><a href="/templates/data.html">Upload Data</a></li>
                    <li><a href="/templates/sobre.html">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <!-- Main Content -->
    
    <section class="intro">
        <h2>Generated Graphs</h2>
        <p>These graphs represent the data taken from de dataset</p>
    </section>
    
    <section class="graph-gallery">
        <div class="graph">
            <img src="/graphs/grafico1.png" alt="Graph 1">
            <p>Graph 1: Graph description.</p>
        </div>
        <div class="graph">
            <img src="/graphs/grafico2.png" alt="Graph 2">
            <p>Graph 2: Graph description.</p>
        </div>
        <div class="graph">
            <img src="/graphs/grafico1.png" alt="Graph 1">
            <p>Graph 1: Graph description.</p>
        </div>
        <div class="graph">
            <img src="/graphs/grafico2.png" alt="Graph 2">
            <p>Graph 2: Graph description.</p>
        </div>
    </section>
    </main>
    
    <main class="container">
        <section class="intro">
            <h2>AI results</h2>
            <p>Take a look into our training results</p>
        </section>
    
        <section class="graph-gallery">
            <div class="graph">
                <img src="/graphs/grafico1.png" alt="Graph 1">
                <p>Graph 1: Graph description.</p>
            </div>
            <div class="graph">
                <img src="/graphs/grafico2.png" alt="Graph 2">
                <p>Graph 2: Graph description.</p>
            </div>
            <div class="graph">
                <img src="/graphs/grafico1.png" alt="Graph 1">
                <p>Graph 1: Graph description.</p>
            </div>
            <div class="graph">
                <img src="/graphs/grafico2.png" alt="Graph 2">
                <p>Graph 2: Graph description.</p>
            </div>
        </section>
    
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Projeto de Visualização de Dados - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>


